PORT = 8080
NODE_ENV = 'development'

# database
DB_URI = "mongodb://localhost:27017/your_db_name"

# email
SMTP_HOST = "smtp"
SMTP_SERVICE = "gmail"
SMTP_PORT = 465 / 567
SMTP_USER = "your_email@gmail.com"
SMTP_PASS = "your_smtp_app_password"

# cloudinary
CLOUDINARY_CLOUD_NAME = "your_cloud_name"
CLOUDINARY_API_KEY = "your_api_key"
CLOUDINARY_API_SECRET = "your_api_secret"

# jwt
JWT_SECRET = 'your_jwt_secret'
JWT_EXPIRY = 'expiry_time'

# cookie expiry
COOKIE_EXPIRY = 'expiry_time'
